<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString"
            connectionString="Data Source=DESKTOP-6K6EUAU\SERVER1;Initial Catalog=QLDSV_TC;User ID=sa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV_TCConnectionString" connectionString="xpoprovider=MSSqlServer;data source=DESKTOP-6K6EUAU\SERVER1;initial catalog=QLDSV_TC;encrypt=False" />
        <add name="localhost_QLDSV_TC_Connection_1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6K6EUAU\SERVER1;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
        <add name="localhost_QLDSV_TC_Connection_2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6K6EUAU\SERVER1;integrated security=SSPI;initial catalog=QLDSV_TC" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>