<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV_TC.Properties.Settings.QLDSV_TCConnectionString"
            connectionString="Data Source=DESKTOP-6K6EUAU\SERVER1;Initial Catalog=QLDSV_TC;User ID=sa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>